#body {
  position: relative;
  font-size: 16px;
  font-family: sans-serif;
}

select {
  width: 95%;
  margin-top: 50px;
  margin-bottom: 50px;
}

#logo {
  display: block;
  margin-top: 40px;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

#small-logo {
  display: block;
  margin-top: 20px;
  width: 50%;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
  margin-left: auto;
  margin-right: auto;
}

#version {
  position: absolute;
  bottom: 10px;
  width: 95%;
  text-align: center;
  font-style: italic;
  bottom: 50px;
}

#search {
  width: 200px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#buddie-list {
  border: 1px solid lightgrey;
  background-color: white;
  width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#results {
  border: 1px solid lightgrey;
  background-color: white;
  width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#result {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
}

#buddy:hover {
  border: 1px solid lightgrey;
  cursor: default;
}

#buddy,
.add-buddy {
  display: inline-block;
  margin: 0;
}

.add-buddy:hover {
  cursor: pointer;
}

.add-buddy {
  position: absolute;
  right: 0;
}

.buddy-name:hover {
  cursor: pointer;
  border: 1px solid lightgrey;
  color: white;
  background-color: blue;
}

#messages {
  margin-top: 20px;
  height: 300px;
}

.message {
  font-size: 14px;
  font-family: sans-serif;
}

#messages,
#input-area {
  width: 95%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 1px solid lightgrey;
}

#input-area {
  margin-top: 10px;
  height: 100px;
}

#type {
  height: 100%;
  width: 100%;
  resize: none;
  padding: 0;
}

#type:focus {
  outline: black;
}

#room {
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}
